/* START ABOUT US SECTION STYLING */

@media (max-width: 767px) {

	#services-header .services-title h2 {

		font-size: 72px
	}
}

/* START ABOUT US SECTION STYLING */


/* START SERVICES COMPONENT SECTION STYLING */

@media (max-width: 767px) {

	#services-component .card {

		margin-bottom: 20px
	}
}
/* END SERVICES COMPONENT  SECTION STYLING */


/* START CHECK OUR SERVICES SECTION STYLING */ 
@media(min-width: 992px) {

	#check-services p {

		width: 60%;
		margin: 40px auto;
	}
}
/* END CHECK OUR SERVICES SECTION STYLING */